# Make nvim the default editor.
export EDITOR='nvim';

# Enable persistent REPL history for `node`.
NODE_REPL_HISTORY_FILE=~/.node_history;
# Allow 32³ entries; the default is 1000.
NODE_REPL_HISTORY_SIZE='32768';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_COLLATE="en_US.UTF-8";
export LC_CTYPE="en_US.UTF-8";
export LC_MESSAGES="en_US.UTF-8";
export LC_MONETARY="en_US.UTF-8";
export LC_NUMERIC="en_US.UTF-8";
export LC_TIME="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Java Home Location
export JAVA_HOME=/Library/Java/Home;
export MAVEN_HOME=$HOME/dev/java/lib/apache-maven-3.5.4/bin

# Command Line Colors
export CLICOLOR=1
export LSCOLORS=ExfxcxDxBxhxhxhxhxcxcx

export PYTHONPATH=/usr/local/opt/python/bin
export PIPPATH=$HOME/Library/Python/3.8/bin

# --files: List files that would be searched but do not search
# --no-ignore: Do not respect .gitignore, etc...
# --hidden: Search hidden files and folders
# --follow: Follow symlinks
# --glob: Additional conditions for search (in this case ignore everything in the .git/ folder)
export FZF_DEFAULT_COMMAND='rg --files --no-ignore --hidden --follow --glob "!.git/*"'
export BAT_THEME="base16"
export FZF_COMPLETION_OPTS="--prompt 'λ ' --preview '(bat --color=alawys {} || cat {} || tree -C {}) 2> /dev/null | head -200'"

export FZF_CTRL_T_OPTS="$FZF_COMPLETION_OPTS"
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!.git/*" --glob "!node_modules/*"'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

export RIPGREP_CONFIG_PATH=$HOME/.config/ripgrep/rc

export RVM_HOME=$HOME/.rvm/bin

export RUBY_HOME=/usr/local/opt/ruby/bin

export GEM_HOME=/usr/local/lib/ruby/gems/2.7.0/bin

export HOMEBREW_CASK_OPTS='--appdir=~/Applications'

